@model eTicaretProje.Models.Cart

<style>
    #cart{
        color:white;
    }
</style>
<ul class="navbar-nav my-2 my-lg-0" style="float:right">
    <li id="cart" class="nav-item ">
        <a class="nav-link" href="/Cart">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            (@Model.cardLines.Count)
        </a>
    </li>
</ul>
